body {
  padding-top: 10em;
  background: transparent;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.jumbotron {
	background: rgba(238,238,238,0.8);
}

#logo {
	display: block;
	margin: 0 auto;
}

.title {
	text-align: center;
}

span.glyphicon {
	font-size: 7em;
}

.blue {
	color: #1d4a9f;
}

.red {
	color: #da2127;
}
